/* text alignment */
@import url('//fonts.googleapis.com/css?family=Cousine:400,700');@font-face {
    font-family: "nevis";
    src: url('fonts/nevis.eot');
    src: url('fonts/nevis.eot?#iefix') format('embedded-opentype'),url('fonts/nevis.svg#nevis') format('svg'),url('fonts/nevis.woff') format('woff'),url('fonts/nevis.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

h1,h2,h3,h4 {
    font-family: "nevis",sans-serif;
    font-weight: 400;
    text-transform: uppercase
}

p {
    margin: 0 0 16px
}

a,a:link,a:focus,a:active,a:hover,a:visited {
    text-decoration: none
}

.clearfix {
    zoom:1}

.clearfix:before,.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.noopacity {
    opacity: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.image-replacement {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.alert {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid
}

.alert-help {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #e8dc59;
    background: #ebe16f
}

.alert-info {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #bfe4f4;
    background: #d5edf8
}

.alert-error {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #a91b29;
    background: #bf1e2e
}

.alert-success {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
    border-color: #deeaae;
    background: #e6efc2
}

#home a #home-arrow {
    background: transparent!important;
    transition: none!important
}

#contact form>div input,#contact form>div textarea {
    font-size: 1.4em
}

#contact form>div.error input,#contact form>div.error textarea {
    color: #bf1e2e
}

#contact form>div input[type="submit"] {
    background: transparent url('../img/ie8/send.png') top center no-repeat
}

#contact form>div input[type="submit"]:hover {
    background: transparent url('../img/ie8/send.png') bottom center no-repeat
}
